<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--播放主机ip-->
    <add key="PlayerHostIP" value="192.168.5.68"/>
    
    <!--播放主机访问共享文件用户-->
    <add key="PlayerHostUser" value="admin"/>

    <!--播放主机访问共享文件用户密码-->
    <add key ="PlayerHostPwd" value="000"/>

    <!--播放主机对外服务端口-->
    <add key ="PlayerHostPort" value="8899"/>
  </appSettings>
</configuration>